body{

    background-color:aquamarine;

}

h1 {
color: blue;
font-size: 2rem;

}

p{
font-weight: bold;
color: yellow;
background-color: black;

}

.Classe1 {

background-color: rgb(156, 82, 82);
box-shadow: 2rem 2rem 2rem 2rem blue;
text-decoration: underline;
color: green;
}